<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>部落格</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
</head>
<body>
{% include 'main/menu.html' %}
{% for items in itemArray %}
      <h3>書名：{{ items.title }}</h3>
	    <p>作者：{{ items.authorname }}</p>
	    <p>出版商:{{ items.Publisher }}</p>
	    <p>發表時間:{{ items.Date|date:'Y-m-d H:i' }}</p>
	    <p>第幾版:{{ items.version }}</p>
	    <p>價格:{{ items.price }}</p>
  <hr>
{% endfor %}
</body>
</html>