{% extends 'main/base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
{% endblock %}
{% block heading %}閱讀文章{% endblock %}
{% block content %}
<h3> {{ article.title }}</h3>
<p><a class="btn" href="{% url 'article:articleUpdate' article.id %}">修改</a></p>
<p>發表時間:{{ article.pubDateTime|date:'Y-m-d H:i' }}</p>
<div class=articleContent>{{ article.content|linebreaks }}</div>
<p>讚:{{ article.likes }}</p>
<p><a class="btn" href="{% url 'article:articleLike' article.id %}">讚</a></p>
{% for comment in comments %}
	<p>
		<span class=comment>{{ comment.content }}</span><br>
		<span class=commentTime>{{ comment.pubDateTime|date:'m 月 d 日 H:i'}}</span>
		{% comment %}
		<form class="inlineBlock" method="post" action="{% url 'article:commentUpdate' comment.id %}">
     {% csrf_token %}
    <input type="submit" value="修改">
    </form>
    {% endcomment %}
		<form class="inlineBlock" method="post" action="{% url 'article:commentDelete' comment.id %}">
			{% csrf_token %}
			<input type="submit" value="刪除">
		</form>
	</p>
{% endfor %}
<form method=post action="{% url 'article:commentCreate' article.id %}">
		{% csrf_token %}
		留言：<input type="text" name="comment">
		<input type="submit" value="送出">
</form>
{% endblock %}