<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>部落格</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
</head>
<body>
{% include 'main/menu.html' %}
<h1>歡迎來到我的部落格</h1>
<br>
<a class="btn" href="{% url 'article:articleCreate' %}">新增文章</a>
<br>
{% for items in itemArray %}
	{% for item in items %}
		{% if forloop.first %}
		<h3>{{ item.title }}</h3>
		<p>發表時間:{{ item.pubDateTime|date:'Y-m-d H:i' }}</p>
		<div class=articleContent>{{ item.content|linebreaks|truncatewords_html:10 }}</div>
		<p>瀏覽次數:{{ item.views }},按讚:{{ item.likes }}</p>
	{% else %}
	 <p>
		<span class=comment>{{ item.content }}</span><br>
		<span class=commentTime>{{ item.pubDateTime|date:'m 月 d 日 H:i'}}</span>
		</p>
	 {% endif %}
	{% endfor %}
	<hr>
{% endfor %}
<br>
</body>
</html>