{% extends 'main/base.html' %}
{% block heading %}
{% if article %}
修改文章
{% else %}
新增文章
{% endif %}
{% endblock %}
{% block content %}
{% if article %}
  <form method="post" action="{% url 'article:articleUpdate' article.id %}">
{% else %}
  <form method="post" action="{% url 'article:articleCreate' %}">
{% endif %}
	{% csrf_token %}
	<table>
		{{ articleForm.as_table }}
	</table>
	<input class="btn" type="submit" value="送出">
	<a class="btn" href="{% url 'article:article' %}">放棄</a>
</form>
{% endblock %}